body{
    margin: 15px;
    font-family: Roboto,sans-serif;
    font-size: 18px;
    background-image: url(https://img.freepik.com/foto-gratis/marmol-amarillo-fondo-abstracto-naranja_1360-485.jpg?w=1800&t=st=1660312520~exp=1660313120~hmac=5ff2a57dfce1530ccfae54cc7953548bdd2f47b161651a475eb3c7bf65f9729e);
    letter-spacing: 1px;  
    padding-left: 50px;
}
.centrado{
    text-align: center;
}

img{
    width: 250px;
    margin: 10px 10px 0 0;
}
#nameBand{
    font-family:'jmh_typewriterregular';
    font-size: 65px;
    font-weight: 500;
}
header p{
    font-size: 14px;
    margin: 0;
    padding: 5px;
}
h1, h2{
    margin: 0;
    padding: 0;
}
header span{
    font-size: 20px;
    font-family: Roboto,sans-serif;
    font-weight: 100;
}
section{
    margin-top: 15px;
}
section p{
    margin-top: 10px;
    line-height: 22px;
    font-style: capitalize;
    color: #fff;
}
audio{
    margin: 0 0 10px 0;
}
#letra{    
    width: 350px;
    padding: 10px;
    background-color: rgb(0,0,0,0.5);
    border-radius: 8px;
}
.coro{
    color: #ffb300;
    font-size: 20px;
    font-style: normal;
}
a{
    color: #FFBD33 ;
    text-decoration: none;
}